<!-- <div style="text-align: center">
  <form>
    <label>Label</label>
    <input placeholder="label" />
  </form>
</div>
<div>
  <button (click)="onNoClick()">Cancel</button>
  <button cdkFocusInitial>Save</button>
</div> -->

<h1 style="text-align: center">Form Inputs</h1>
<div mat-dialog-content>
  <mat-form-field form="label" appearance="fill">
    <mat-label style="text-align: center" for="label">Label</mat-label>
    <input matInput id="label" name="label" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()" color="warn">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data.label" color="primary" cdkFocusInitial>
    Save
  </button>
</div>
