<div class="card" style="margin: 200px; margin-top: 10px; margin-bottom: 10px">
  <div class="card-body"><h1>Form name</h1></div>
  <div>
    <button
      mat-raised-button
      color="warn"
      style="float: right; margin-left: 5px; margin-bottom: 5px; margin-right: 5px;"
    >
      Delete
    </button>
    <button
      mat-raised-button
      color="primary"
      style="margin-left: 5px; float: right; margin-bottom: 5px"
      routerLink="/new-form"
    >
      Edit
    </button>
    <button
      mat-raised-button
      color="accent"
      style="margin-left: 5px; float: right; margin-bottom: 5px"
      routerLink="/preview"
    >
      View Form
    </button>
  </div>
</div>
