<div
  class="container"
  style="display: flex; border: 5px; color: black; padding: 40px"
>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Components</h2>

      <div style="margin-top: 100px">
        <div
          cdkDropList
          cdkDragData
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="allFiels"
          class="example-list"
          cdkDropListSortingDisabled
        >
        <!-- Component fields -->
          <div class="example-box" *ngFor="let fields of allFiels" cdkDrag>
            {{ fields.tittle }}
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Form</h2>

      <div
        cdkDropList
        [cdkDropListData]="element"
        class="example-list1"
        (cdkDropListDropped)="drop($event)"
      >
      <!-- dragged new inputs to make a form -->
        <div class="example-box1" *ngFor="let inputs of element" cdkDrag>
          <div
            class="container"
            style="display: flex; border: 5px; color: black; padding: 5px"
          >
            <div>
              <input
                type="{{ inputs.inputType }}"
                *ngIf="inputs.inputType != 'button'"
                placeholder="{{ inputs.label }}"
              />
            </div>
            <div style="margin-left: 5px">
              <label *ngIf="inputs.inputType == 'checkBox'" for="">{{
                inputs.label
              }}</label>
            </div>
            <div>
              <button
                mat-raised-button
                color="primary"
                *ngIf="inputs.inputType == 'button'"
              >
                {{ inputs.label }}
              </button>
            </div>
          </div>
          <div class="container">
            <button mat-button (click)="edit(inputs)">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button style="margin-left: 5px" mat-button>
              <mat-icon color="warn" (click)="remove(inputs)">delete</mat-icon>
            </button>
          </div>
        </div>
        <button
          mat-raised-button
          required
          (click)="save()"
          color="primary"
          style="
            width: 90px;
            height: 40px;
            margin-left: 300px;
            margin-top: 10px;
          "
        >
          Save
        </button>
      </div>
    </div>
    <div class="container">
      <button
        mat-raised-button
        color="primary"
        routerLink="/save"
        style="width: 90px; height: 40px; margin-left: 930px"
      >
        All forms
      </button>
    </div>
  </div>
</div>
