<div
  class="container"
  style="display: flex; border: 5px; color: black; padding: 100px"
>
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Components</h2>

      <div style="margin-top: 100px">
        <div
          cdkDropList
          cdkDragData
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="components"
          class="example-list"
          cdkDropListSortingDisabled
        >
          <div class="example-box" *ngFor="let item of components" cdkDrag>
            {{ item.tittle }}
          </div>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Form</h2>

      <div
        cdkDropList
        [cdkDropListData]="form"
        class="example-list1"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box1" *ngFor="let index of form" cdkDrag>
          <label for="label" *ngIf="label">{{ label }}</label>
          <input [type]="index.inputType" [placeholder]="index.label" />
          <button
            [type]="index.inputType"
            *ngIf="index.type === button && label"
          >
            {{ label }}
          </button>
          <div>
            <button mat-raised-button (click)="edit()">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button style="margin-left: 10px" mat-raised-button>
              <mat-icon color="warn" (click)="remove(index)">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
