<div
  class="container"
  style="display: flex; border: 5px; color: black; padding: 40px"
>
  <div>
    <div class="example-container">
      <h2 style="margin-left: 500px"><b>Preview</b></h2>
      <div class="example-list1">
        <div class="example-box1" *ngFor="let index of inputs">
          <div
            class="container"
            style="display: flex; border: 5px; color: black; padding: 5px"
          >
            <div>
              <input
                type="{{ index.inputType }}"
                *ngIf="index.inputType != 'button'"
                placeholder="{{ index.label }}"
              />
            </div>
            <div style="margin-left: 5px">
              <label *ngIf="index.inputType == 'checkBox'" for="">{{
                index.label
              }}</label>
            </div>
            <div>
              <button
                mat-raised-button
                color="primary"
                *ngIf="index.inputType == 'button'"
              >
                {{ index.label }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <button
          mat-raised-button
          color="primary"
          style="width: 90px; height: 40px; margin-top: 3px; margin-left: 999px"
          routerLink="/new-form"
          (click)="editId()"
        >
          Edit
        </button>
        <button
          mat-raised-button
          color="primary"
          routerLink="/save"
          style="margin-left: 999px; margin-top: 5px"
        >
          All forms
        </button>
      </div>
    </div>
  </div>
</div>
