<div
  class="container"
  style="display: flex; border: 5px; color: black; padding: 40px"
>
  <div class="example-container">
    <h2 style="margin-left: 550px">
      <b><i>Form</i></b>
    </h2>

    <div class="example-list1">
      <div class="example-box1" *ngFor="let index of element">
        <div
          class="container"
          style="display: flex; border: 5px; color: black; padding: 5px"
        >
          <div>
            <input
              type="{{ index.inputType }}"
              *ngIf="index.inputType != 'button'"
              placeholder="{{ index.label }}"
            />
          </div>
          <div>
            <label *ngIf="index.inputType == 'checkBox'" for="">{{
              index.label
            }}</label>
          </div>
          <div>
            <button
              mat-raised-button
              color="primary"
              *ngIf="index.inputType == 'button'"
            >
              {{ index.label }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <button
        mat-raised-button
        color="primary"
        routerLink="/new-form"
        style="width: 90px; height: 40px; margin-left: 1000px; margin-top: 10px"
      >
        Edit
      </button>
    </div>
  </div>
</div>
